= form_for [user, @tally] do |f|
  - if @tally.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tally.errors.count, "error")} prohibited this tally from being saved:"
      %ul
        - @tally.errors.full_messages.each do |msg|
          %li= msg

  - unless @tally.id
    .field
      = f.label @axis_type
      = f.select :axis_id, :collection => @axis_collection.collect { |a| [a.title, a.id] }
      = f.hidden_field :axis_type
      = f.hidden_field :axis_type, :name => :axis_type
  .field
    = f.hidden_field :user_id
  .actions
    = f.submit 'Submit'
