%h1 Listing tallies

%table
  %tr
    %th Axis type
    %th Axis
    %th User
    %th Has been spent
    %th
    %th
    %th

  - @tallies.each do |tally|
    %tr
      %td= tally.axis_type
      %td= tally.axis_id
      %td= tally.user_id
      %td= tally.has_been_spent
      %td= link_to 'Show', tally
      %td= link_to 'Edit', edit_tally_path(tally)
      %td= link_to 'Destroy', tally, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tally', new_tally_path
