%p#notice= notice

%p
  %b Goal:
  = @goal_reward.goal.title
%p
  %b Goal Count:
  = @goal_reward.goal_count
%p
  %b Reward:
  = @goal_reward.reward.title
%p
  %b Reward Count:
  = @goal_reward.reward_count
%p
  %b User:
  = @goal_reward.user_id

= link_to 'Edit', edit_goal_reward_path(@goal_reward)
\|
= link_to 'Back', goal_rewards_path
