!!!
%html#goalsnap
  %head
    %title Goalsnap
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{ :id => params[:controller], :class => "#{params[:action]} #{yield :body_class}" }
    - if current_user
      .navbar
        .navbar-inner
          %nav#primary
            %ul.nav
              %li= link_to 'Home', home_path
              %li= link_to 'My Targets', user_goal_rewards_path(current_user)
            %ul.nav.pull-right
              %li
                %span.btn= link_to 'New Target', new_user_goal_reward_path(current_user)
              %li
                %span.btn= link_to 'Record a Goal', new_user_tally_path(current_user, axis_type: Goal)
              %li
                = link_to 'Log out', logout_path
    .container
      = yield
    = javascript_include_tag "application"
