!!!
%html
  %head
    %title Goalsnap
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    = yield
    - if current_user
      %nav#primary
        %ul
          %li
            = link_to 'Home', home_path
          %li
            = link_to 'My Targets', user_goal_rewards_path(current_user)
          %li
            %button= link_to 'New Target', new_user_goal_reward_path(current_user)
          %li
            %button= link_to 'Record a Goal', new_user_tally_path(current_user, axis_type: Goal)
          %li
            = link_to 'Log out', logout_path
    = javascript_include_tag "application"
